{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main class="container">
  <div class="home-lion">
    {% comment %} <div>
      <img width=100% src="{% static 'privateCommunity/img/home_lion.jpg' %}" />
    </div> {% endcomment %}
  
    <div class="home-text">
      <h1 class="text-light text-end display-4 fst-italic">Welcome to <br>SNU Like Lion <br>Community</h1>
      <p class="text-light text-end lead my-3">The best of all lions.</p>
    </div>
    <a class="mouse-scroll" href="#wow"> 
      <span class="mouse">
        <span class="mouse-movement"></span>
      </span>
      <span class="mouse-message fadeIn">Explore</span> 
    </a>
    <div style="height:250px;">
    </div>
    <div id="wow">
    </div>
  </div>
  <div class="row g-5">
    <div class="col-md-8" style="width:65%;">
      <span class="d-flex justify-content-start row p-3" style="height: 15rem;">
        <div class="card col-6" style="width: 21rem; padding:1%">
          <div class="card-header" style="font-family: 'Do Hyeon', sans-serif; font-size:20px;">
            &nbsp; 공지게시판
          </div>
          {% for post in notice %}
            <a class="homepostcontent" href="/community/posts/{{ post.id }}/" >
                <span class="d-flex justify-content-start" style="width: 70%; margin:1%; margin-left:6%;">{{ post.title }}</span>
                <span style="width: 10%; margin:1%; margin-left:4%;">{{ post.view_count }}</span>
            </a>
          {% endfor %}
        </div>
        
        <div class="card col-6" style="padding:1%; width: 21rem; margin-left:10%">
          <div class="card-header" style="padding:1%; font-family: 'Do Hyeon', sans-serif; font-size:20px;">
            &nbsp; 공고게시판
          </div>
          {% for post in announce %}
              <a class="homepostcontent" href="/community/posts/{{ post.id }}/" >
                <span class="d-flexjustify-content-start" style="width: 70%; margin:1%; margin-left:6%;">{{ post.title }}</span>
                <span style="width: 20%;">{{ post.author }}</span>
                <span style="width: 10%;">{{ post.view_count }}</span>
              </a>
          {% endfor %}
        </div>
      </span>

      <div class="d-flex justify-content-start row p-3">
        <div class="card" style="width: 21rem;padding:1%; ">
          <div class="card-header" style="font-family: 'Do Hyeon', sans-serif; font-size:20px;">
            &nbsp; 질의응답게시판
          </div>
          {% for post in qna %}
            <a class="homepostcontent" href="/community/posts/{{ post.id }}/" >
                <span class="d-flexjustify-content-start" style="width: 70%; margin:1%; margin-left:6%;">{{ post.title }}</span>
                <span style="width: 20%;">{{ post.author }}</span>
                <span style="width: 10%;">{{ post.view_count }}</span>
            </a>
          {% endfor %}
        </div>
        
        <div class="card" style="padding:1%; width: 21rem; margin-left:10%">
          <div class="card-header" style="font-family: 'Do Hyeon', sans-serif; font-size:20px; ">
            &nbsp; 모집게시판
          </div>
          {% for post in apply %}
              <a class="homepostcontent" href="/community/posts/{{ post.id }}/" >
                <span class="d-flexjustify-content-start" style="width: 70%; margin:1%; margin-left:6%;">{{ post.title }}</span>
                <span style="width: 20%;">{{ post.author }}</span>
                <span style="width: 10%;">{{ post.view_count }}</span>
              </a>
          {% endfor %}
        </div>
      </div>

      <div class="d-flex justify-content-start row p-3">
        <div class="card" style="padding:1%; width: 21rem; ">
          <div class="card-header" style="font-family: 'Do Hyeon', sans-serif; font-size:20px;">
            &nbsp; 자유게시판
          </div>
          {% for post in free %}
            <a class="homepostcontent" href="/community/posts/{{ post.id }}/" >
                <span class="d-flexjustify-content-start" style="width: 70%; margin:1%; margin-left:6%;">{{ post.title }}</span>
                <span style="width: 20%;">{{ post.author }}</span>
                <span style="width: 10%;">{{ post.view_count }}</span>
            </a>
          {% endfor %}
        </div>
        
        <div class="card" style="padding:1%; width: 21rem;margin-left:10%">
          <div class="card-header" style="font-family: 'Do Hyeon', sans-serif; font-size:20px;">
            &nbsp; 정보게시판
          </div>
          {% for post in info %}
              <a class="homepostcontent" href="/community/posts/{{ post.id }}/" >
                <span class="d-flexjustify-content-start" style="width: 70%; margin:1%; margin-left:6%;">{{ post.title }}</span>
                <span style="width: 20%;">{{ post.author }}</span>
                <span style="width: 10%;">{{ post.view_count }}</span>
              </a>
          {% endfor %}
        </div>
      </div>

        <br>
        <br>
          <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-secondary" href="#" style="margin-left:2%">Top</a>
          </nav>
    </div>
    
    <div class="col-md-4" style="padding:5px">
      <div class="position-sticky" style="top: 6rem; ">
        <div class="p-4">
          <div class="card border-warning mb-3"  style="padding:1%; padding:2%">
            <h4 class="card-header" style="font-family: 'Do Hyeon', sans-serif; font-size:25px;">실시간 인기글 TOP 5</h4>
            {% for post in popular %}
              <a class="d-flex border-top poppostcontent" href="/community/posts/{{ post.id }}/">
                  <span class="d-flex justify-content-start " style="width: 70%;">&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;{{ post.title }}</span>
                  <span style="width: 20%;">{{ post.author }}</span>
                  <span style="width: 10%;">{{ post.view_count }}</span>
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="p-4">
          <h4 class="fst-italic" style="font-family: 'Do Hyeon', sans-serif; font-color: grey; font-size:25px;">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>


</main>

{% endblock content %}
